<script>

import 'bootstrap/dist/css/bootstrap.css';

export default {
    name: 'Basicbiccustomisermodule', // vue component name
    props: {
      productID: {
        type: Number,
        default: 174
      },
      sessionID: {
        type: String,
        default: `1111`
      },
    },
    data() {
        return {
          product: {},
          productImage: ``,
          artwork: {
            left: `288`,
            top: `528`,
            width: `342`,
            height: `113`,
            cWidth: 45 * 10,
            cHeight: 15 * 10
          },
          text: {
            value: ``
          }
        };
    },
    mounted () {
      window.fetch(`https://biccustomiserportal.engagisdemo.com.au/wp-json/wc/v2/products/${this.productID}?consumer_key=ck_f216384f5e9db05dba249d0b487067d6190e3784&consumer_secret=cs_c71b5becdea75797d1beb5b0ce425cd07f9b9ef9`).then((response) => {
        return response.json();
      }).then((json) => {
        if(json.data){
          if(json.data.status === 404) {

          }
        } else {
          this.product = json;
          this.product.images.forEach(image => {
            if(image.position === 0) {
              this.productImage = image.src;
            }
          });
        }
      });
    },
    methods: {
      process(e){
        this.text.value = e.target.value.replace(/(?:\r\n|\r|\n)/g, '<br/>');
        this.text.raw = e.target.value;
      },
      changeArtwork(e){
        const ctx = document.getElementsByClassName('basicbiccustomisermodule_customiser_image_artwork_canvas')[0].getContext('2d');
        

        console.log( e.target.files[0] )
        switch(e.target.files[0].type){
          case `image/svg+xml`:
            const svgImage = new Image;
            svgImage.onload = () => {
              ctx.drawImage(svgImage, 0,0, this.artwork.cWidth, this.artwork.cHeight);
            }
            svgImage.src = URL.createObjectURL(e.target.files[0]);
            break;
          case `image/png`:
          case `image/jpeg`:
            const img = new Image;
            img.onload = () => {
              ctx.drawImage(img, 0,0, this.artwork.cWidth, this.artwork.cHeight);
            }
            img.src = URL.createObjectURL(e.target.files[0]);
            break;
          default:
        }
      }
    }
}
</script>

<template>
    <div class="basicbiccustomisermodule container-fluid">
      <div class="row">
        <div class="basicbiccustomisermodule_controls col-3">
          <h1>Customiser Controls</h1>
          <h3>Text</h3>
          <textarea type="text" v-model="text.raw" v-on:keyup="process" />
          <h3>Image</h3>
          <input type="file" v-on:change="changeArtwork" />
        </div>
        <div class="basicbiccustomisermodule_customiser col-6">
          <h1>Customiser</h1>
          <div class="basicbiccustomisermodule_customiser_canvas">
            <img :src="productImage" class="basicbiccustomisermodule_customiser_canvas_image" />
            <div v-bind:style="{ left: artwork.left + `px`, top: artwork.top + `px`, width: artwork.width + `px`, height: artwork.height + `px` }" class="basicbiccustomisermodule_customiser_image_artwork">
              <canvas class="basicbiccustomisermodule_customiser_image_artwork_canvas" v-bind:width="artwork.cWidth" v-bind:height="artwork.cHeight" v-bind:style="{width: artwork.width + `px`}" />
            </div>
            <div v-bind:style="{ left: artwork.left + `px`, top: artwork.top + `px`, width: artwork.width + `px`, height: artwork.height + `px` }" class="basicbiccustomisermodule_customiser_image_text" v-html="text.value"></div>
          </div>
        </div>
        <div class="basicbiccustomisermodule_pricing col-3">
          <h1>Price</h1>
        </div>
      </div>
    </div>
</template>

<style scoped>
    .basicbiccustomisermodule {
      width: 1800px;
    }
    .basicbiccustomisermodule_customiser {
    }
    .basicbiccustomisermodule_customiser_canvas {
      position: relative;
      transform: scale(.7, .7);
      transform-origin: top left;
    }
    .basicbiccustomisermodule_customiser_canvas img {
      display: block;
    }
    .basicbiccustomisermodule_customiser_image_artwork {
      z-index: 100;
      position: absolute;
    }
    .basicbiccustomisermodule_customiser_image_text {
      overflow: hidden;
      z-index: 99;
      position: absolute;
      background-color: red;
    }
    .basicbiccustomisermodule_controls {

    }
</style>
